.jumbotron {
  height: 66vh;
  display: flex;
  margin-bottom: 0;
}

.jumbo-content {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
