.jumbotron {
  height: 75vh;
  display: flex;
  margin-bottom: 0;
  margin-top: 56px;
  background-image: url(../../public/assets/img/jumbo-img.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  h1 {
    background-color: #cc527a;
    padding: 8px 32px;
  }
  .lead {
    font-size: 1.5rem;
  }
}

.jumbo-content {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
