nav {
  &.navbar {
    z-index: 100;
    position: fixed;
    width: 100%;
    top: 0;
    .navbar-nav {
      .nav-link {
        color: #a8a7a7;
        &:hover {
          color: #e8175d;
        }
        &.active {
          border-bottom: 2px solid #e8175d;
        }
      }
    }
  }
  #nav-color-bar {
    position: absolute;
    top: 0;
    right: 0;
    height: 56px;
    width: 100vw;
  }
  .z-50 {
    z-index: 50;
  }
}
