@import "./jumbotron";
@import "./about";
@import "./projects";

@import url("https://fonts.googleapis.com/css?family=Roboto|Open+Sans");

* {
  min-width: 0;
}

body {
  font-family: "Open Sans", sans-serif;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Roboto", sans-serif;
}

h1 {
  font-size: 4rem;
}
